@import './base.css';

#app {
  max-width: 1240px;
  margin: 0 auto;
  padding: 1.5rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #b45309;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(180, 83, 9, 0.12);
  }
}

@media (min-width: 768px) {
  #app {
    padding: 2rem;
  }
}
